{
    "globals": {
        "describe": true,
        "it": true,
        "beforeEach": true
    },
    "rules":{
        "no-console": 0,
        "no-unused-expressions": 0,
    },
    "extends": "airbnb"
}
